               body {
                   overflow: scroll;
               }
               
               *,
               *::after,
               *::before {
                   margin: 0;
                   padding: 0;
                   box-sizing: inherit;
               }
               
               h1 {
                   text-align: center;
               }
               
               html {
                   box-sizing: border-box;
                   font-size: 62.5%;
               }
               
               body {
                   font-family: "Nunito", sans-serif;
                   color: #333;
                   font-weight: 300;
                   line-height: 1.6;
               }
               
               .container {
                   width: 60%;
                   margin: 2rem auto;
               }
               
               .gallery {
                   display: grid;
                   grid-template-columns: repeat(8, 1fr);
                   grid-template-rows: repeat(8, 5vw);
                   grid-gap: 1px;
               }
               
               .gallery__img {
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
               }
               
               .gallery__item--1 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 1;
                   grid-column-end: 3;
                   grid-row-start: 1;
                   grid-row-end: 3;
               }
               
               .gallery__item--2 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 3;
                   grid-column-end: 5;
                   grid-row-start: 1;
                   grid-row-end: 3;
               }
               
               .gallery__item--3 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 5;
                   grid-column-end: 9;
                   grid-row-start: 3;
                   grid-row-end: 9;
               }
               
               .gallery__item--4 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 9;
                   grid-column-end: 11;
                   grid-row-start: 1;
                   grid-row-end: 3;
               }
               
               .gallery__item--5 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 1;
                   grid-column-end: 3;
                   grid-row-start: 3;
                   grid-row-end: 6;
               }
               
               .gallery__item--6 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 1;
                   grid-column-end: 3;
                   grid-row-start: 6;
                   grid-row-end: 9;
               }
               
               .gallery__item--7 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 1;
                   grid-column-end: 3;
                   grid-row-start: 9;
                   grid-row-end: 12;
               }
               
               .gallery__item--8 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 9;
                   grid-column-end: 12;
                   grid-row-start: 6;
                   grid-row-end: 9;
               }
               
               .gallery__item--9 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 9;
                   grid-column-end: 12;
                   grid-row-start: 3;
                   grid-row-end: 6;
               }
               
               .gallery__item--10 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 9;
                   grid-column-end: 12;
                   grid-row-start: 10;
                   grid-row-end: 12;
               }
               
               .gallery__item--11 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 3;
                   grid-column-end: 5;
                   grid-row-start: 10;
                   grid-row-end: 12;
               }
               
               .gallery__item--12 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 5;
                   grid-column-end: 9;
                   grid-row-start: 10;
                   grid-row-end: 12;
               }
               
               .gallery__item--13 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 3;
                   grid-column-end: 6;
                   grid-row-start: 3;
                   grid-row-end: 9;
               }
               
               .gallery__item--14 {
                   background: rgba(238, 169, 99, 0.904);
                   grid-column-start: 5;
                   grid-column-end: 9;
                   grid-row-start: 1;
                   grid-row-end: 3;
               }
               
               .gallery__item-1 {
                   margin: 1px;
               }
               
               .gallery__item-2 {
                   margin-top: -236px;
                   margin-left: 302px;
                   height: 228px;
                   width: 300px;
               }
               
               .gallery__item-4 {
                   margin-top: -533px;
                   margin-left: 603px;
                   height: 228px;
                   width: 300px;
               }
               
               .gallery__item-5 {
                   margin-top: -2px;
                   margin-left: 302px;
                   height: 228px;
                   width: 300px;
               }
               
               .gallery__item-6 {
                   margin: 1px;
               }
               
               .gallery__item-7 {
                   margin: 1px;
               }
               
               .gallery__item-8 {
                   margin: 1px;
               }
               
               .gallery__item-9 {
                   margin: 1px;
               }
               
               .gallery__item--10 {
                   margin: 1px;
               }
               
               .gallery__item-11 {
                   margin: 1px;
               }
               
               .gallery__item-12 {
                   margin: 1px;
               }
               
               .gallery__item-13 {
                   margin: 1px;
               }
               
               .gallery__item-14 {
                   margin: 1px;
               }
               
               .container1 {
                   width: 60%;
                   margin: 2rem auto;
               }
               
               .gallery1 {
                   margin: 20px;
               }
               
               .gallery__img1 {
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
               }
               
               aside {
                   width: 20%;
                   padding-left: .5rem;
                   margin-left: .5rem;
                   float: right;
                   box-shadow: inset 5px 0 5px -5px #29627e;
                   font-style: italic;
                   color: #29627e;
               }
               
               figure {
                   /* Цвет фона */
                   width: 300px;
                   padding: 10px;
                   /* Поля вокруг */
               }
               
               #size {
                   width: 2000px;
               }
               
               #fon {
                   background: rgba(236, 218, 200, 0.904);
               }
               
               #f {
                   position: fixed;
                   right: 60%;
                   top: 35%;
                   background: rgba(236, 218, 200, 0.904);
               }
               
               #h {
                   font-size: 25px;
                   text-align: center;
               }
               
               #m {
                   position: fixed;
                   right: 40%;
                   top: 35%;
                   font-size: 15px;
                   background: rgba(236, 218, 200, 0.904);
               }
               
               #m p {
                   color: #8a7c6d;
                   text-align: center;
                   font-family: 'Cabin', sans-serif;
                   font-size: 30px;
               }
               
               #menu {
                   padding-left: 5cm;
                   font-family: 'Cabin', sans-serif;
                   position: fixed;
                   top: 2px;
                   left: 50%;
               }
               
               #menu1 {
                   font-family: 'Cabin', sans-serif;
                   position: relative;
                   right: 0%;
               }
               
               #menu1 ul {
                   padding-left: 10cm;
                   font-family: 'Cabin', sans-serif;
                   font-size: 20px;
               }
               
               #menu1 li {
                   text-align: center;
                   float: left;
                   list-style: none;
                   width: 200px;
               }
               
               #menu ul {
                   color: rgb(187, 126, 46);
                   padding-left: 5cm;
                   font-family: 'Cabin', sans-serif;
               }
               
               #text {
                   font-size: 40px;
                   text-align: center;
                   font-family: Trattatello, fantasy;
               }
               
               #menu li {
                   text-align: center;
                   float: left;
                   list-style: none;
                   width: 150px;
                   font-weight: bold;
                   font-size: 15px;
                   text-decoration: rgb(0, 0, 0);
                   display: block;
                   color: rgb(71, 35, 2);
                   background-color: rgba(238, 169, 99, 0.904);
                   padding: 15px;
                   border: 1px solid rgb(122, 64, 9)
               }
               
               #menu a {
                   font-weight: bold;
                   font-size: 15px;
                   text-decoration: rgb(0, 0, 0);
                   display: block;
                   color: rgb(71, 35, 2);
                   background-color: rgba(238, 169, 99, 0.904);
                   padding: 15px;
                   border: 1px solid rgb(122, 64, 9)
               }
               
               #menu a:hover {
                   background-color: rgb(255, 212, 155);
                   font-size: 17px;
               }
               
               #active {
                   border: 2px solid rgb(255, 34, 34);
                   background-color: rgb(139, 84, 39);
               }
               
               #paragraph {
                   text-align: left;
                   text-indent: 20px;
                   position: absolute;
                   top: 25%;
                   left: 100px;
                   font-size: 20px;
                   font-variant: small-caps;
               }
               
               #logo {
                   position: relative;
                   right: 0%;
                   top: 0%;
                   width: 100px;
               }
               
               #index {
                   text-align: left;
                   text-indent: 20px;
                   font-size: 20px;
                   font-variant: small-caps;
                   position: absolute;
                   left: 100px;
                   top: 100px;
                   width: 1000px;
               }
               
               #img {
                   position: absolute;
                   left: 100px;
                   top: 40%;
                   width: 500px;
               }
               
               #img p {
                   text-align: left;
                   top: 40%;
                   font-size: 25px;
                   font-weight: 200;
                   font-variant: small-caps;
               }
               
               #img a {
                   color: rgb(158, 62, 6);
               }
               
               #img2 {
                   position: absolute;
                   left: 1000px;
                   top: 40%;
                   width: 500px;
               }
               
               #name {
                   text-align: left;
                   width: 500px;
                   position: absolute;
                   right: 300px;
                   top: 40%;
                   font-size: 25px;
                   font-weight: 200;
                   font-variant: small-caps;
               }
               
               #name a {
                   color: rgb(158, 62, 6);
               }
               
               #imgAbout {
                   position: absolute;
                   left: 100px;
                   top: 25%;
               }
               
               #dialogExample {
                   position: fixed;
                   left: 50%;
                   top: 50%;
                   font-size: 20px;
               }
               
               #about {
                   text-align: left;
                   position: absolute;
                   left: 100px;
                   top: 15%;
                   font-size: 25px;
                   font-weight: 200;
                   font-variant: small-caps;
               }
               
               #blog {
                   text-align: left;
                   position: absolute;
                   left: 500px;
                   top: 25%;
                   font-size: 20px;
                   font-weight: 200;
                   font-variant: small-caps;
                   border: 2px solid #ECE9E0;
                   border-radius: 20px 20px;
                   padding: 10px;
               }
               
               #contacts {
                   text-align: left;
                   position: absolute;
                   left: 100px;
                   top: 50%;
                   font-size: 20px;
                   font-weight: 200;
                   font-variant: small-caps;
               }
               
               #search {
                   font-size: 20px;
                   font-variant: small-caps;
                   position: absolute;
                   top: 15%;
                   left: 100px;
               }
               
               .right {
                   font-size: 30px;
                   position: absolute;
                   left: 565px;
                   width: 12px;
                   top: 65%;
               }
               
               .right p:hover {
                   cursor: pointer;
                   color: red;
               }
               
               .left {
                   font-size: 30px;
                   position: absolute;
                   left: 510px;
                   top: 65%;
                   width: 12px;
               }
               
               .left p:hover {
                   cursor: pointer;
                   color: red;
               }
               
               .under_table {
                   font-size: 20px;
                   position: absolute;
                   left: 530px;
                   width: 25px;
                   top: 66%;
               }
               
               #register {
                   color: black;
               }
               
               #register label {
                   text-align: center;
                   color: black;
                   font-size: 20px;
                   font-variant: small-caps;
               }
               
               #register form {
                   border: 5px solid rgb(240, 118, 19);
                   background-color: rgba(255, 178, 90, 0.507);
                   position: absolute;
                   left: 35%;
                   top: 20%;
                   padding: 100px;
               }
               
               #register input {
                   font-size: 20px;
               }
               
               .form-group {
                   margin-bottom: 15px;
               }
               
               label {
                   margin-bottom: 20px;
               }
               
               span.input-group-addon {
                   color: #f09a10e0;
                   font-size: 17px;
               }
               
               table {
                   caption-side: center;
                   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                   text-align: left;
                   border-spacing: 20px;
                   background: #ECE9E0;
                   color: #722d06;
                   border: 20px solid #ECE9E0;
                   border-radius: 20px 20px;
                   font-size: 25px;
                   font-variant: small-caps;
                   position: absolute;
                   left: 100px;
                   top: 20%;
                   width: 1000px;
               }
               
               th {
                   background: #ECE9E0;
                   font-size: 20px;
                   padding: 10px;
               }
               
               td {
                   background: rgb(255, 212, 155);
                   padding: 10px;
                   border-radius: 5px 5px;
               }
               
               caption {
                   color: #722d06;
                   font-size: 30px;
               }
               
               #ava {
                   position: absolute;
                   left: 100px;
                   top: 20%;
                   height: 300px;
                   width: 300px;
               }
               
               #User {
                   position: absolute;
                   left: 500px;
                   top: 20%;
                   text-align: left;
                   position: absolute;
                   font-size: 25px;
                   font-weight: 200;
                   font-variant: small-caps;
                   width: 600px;
                   border: 2px solid #ECE9E0;
                   border-radius: 20px 20px;
                   padding: 10px;
               }
               
               #admin {
                   position: absolute;
                   left: 10px;
                   top: 20%;
               }
               
               #article {
                   position: absolute;
                   left: 100px;
                   top: 25%;
                   text-align: left;
                   position: absolute;
                   font-size: 20px;
                   font-weight: 200;
                   font-variant: small-caps;
                   width: 1000px;
                   border: 2px solid #ECE9E0;
                   border-radius: 20px 20px;
                   padding: 10px;
               }
               
               #nameArticle {
                   position: absolute;
                   left: 400px;
                   top: 15%;
                   text-align: left;
                   position: absolute;
                   font-size: 25px;
                   font-weight: 200;
                   font-variant: small-caps;
                   width: 1000px;
               }
               
               #imgArticle {
                   position: relative;
                   left: 250px;
               }
               
               .button {
                   text-decoration: none;
                   text-align: center;
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #d4b594;
                   background-image: -moz-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -webkit-transition: all 0s ease-out;
                   -moz-transition: all 0s ease-out;
                   -o-transition: all 0s ease-out;
                   transition: all 0s ease-out;
               }
               
               .button:hover {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #e8c6a5;
                   background-image: -moz-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -webkit-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -o-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -ms-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a34506', endColorstr='#a34506', GradientType=0);
                   background-image: linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .button:active {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #8a7c6d;
                   background-image: -moz-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .add {
                   position: absolute;
                   left: 500px;
                   top: 15%;
                   text-decoration: none;
                   text-align: center;
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #d4b594;
                   background-image: -moz-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -webkit-transition: all 0s ease-out;
                   -moz-transition: all 0s ease-out;
                   -o-transition: all 0s ease-out;
                   transition: all 0s ease-out;
               }
               
               .add:hover {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #e8c6a5;
                   background-image: -moz-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -webkit-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -o-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -ms-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a34506', endColorstr='#a34506', GradientType=0);
                   background-image: linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .add:active {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #8a7c6d;
                   background-image: -moz-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .delete {
                   position: absolute;
                   left: 250px;
                   top: 55%;
                   text-decoration: none;
                   text-align: center;
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #d4b594;
                   background-image: -moz-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -webkit-transition: all 0s ease-out;
                   -moz-transition: all 0s ease-out;
                   -o-transition: all 0s ease-out;
                   transition: all 0s ease-out;
               }
               
               .delete:hover {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #e8c6a5;
                   background-image: -moz-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -webkit-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -o-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -ms-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a34506', endColorstr='#a34506', GradientType=0);
                   background-image: linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .delete:active {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #8a7c6d;
                   background-image: -moz-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .update {
                   position: absolute;
                   left: 100px;
                   top: 55%;
                   text-decoration: none;
                   text-align: center;
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #d4b594;
                   background-image: -moz-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -webkit-transition: all 0s ease-out;
                   -moz-transition: all 0s ease-out;
                   -o-transition: all 0s ease-out;
                   transition: all 0s ease-out;
               }
               
               .update:hover {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #e8c6a5;
                   background-image: -moz-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -webkit-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -o-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -ms-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a34506', endColorstr='#a34506', GradientType=0);
                   background-image: linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .update:active {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #8a7c6d;
                   background-image: -moz-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .articleUpdate {
                   position: absolute;
                   left: 1150px;
                   top: 25%;
                   text-decoration: none;
                   text-align: center;
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #d4b594;
                   background-image: -moz-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -webkit-transition: all 0s ease-out;
                   -moz-transition: all 0s ease-out;
                   -o-transition: all 0s ease-out;
                   transition: all 0s ease-out;
               }
               
               .articleUpdate:hover {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #e8c6a5;
                   background-image: -moz-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -webkit-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -o-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -ms-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a34506', endColorstr='#a34506', GradientType=0);
                   background-image: linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .articleUpdate:active {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #8a7c6d;
                   background-image: -moz-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .articleDelete {
                   position: absolute;
                   left: 1150px;
                   top: 33%;
                   text-decoration: none;
                   text-align: center;
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #d4b594;
                   background-image: -moz-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #d4b594 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -webkit-transition: all 0s ease-out;
                   -moz-transition: all 0s ease-out;
                   -o-transition: all 0s ease-out;
                   transition: all 0s ease-out;
               }
               
               .articleDelete:hover {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #e8c6a5;
                   background-image: -moz-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -webkit-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -o-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   background-image: -ms-linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a34506', endColorstr='#a34506', GradientType=0);
                   background-image: linear-gradient(top, #e8c6a5 0%, #a34506 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }
               
               .articleDelete:active {
                   padding: 12px 31px;
                   border: outset 3px #ffc996;
                   -webkit-border-radius: 12px;
                   -moz-border-radius: 12px;
                   border-radius: 12px;
                   font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                   font-weight: bold;
                   color: #5c3706;
                   background-color: #8a7c6d;
                   background-image: -moz-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -webkit-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -o-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   background-image: -ms-linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c25e1b', endColorstr='#c25e1b', GradientType=0);
                   background-image: linear-gradient(top, #8a7c6d 0%, #c25e1b 100%);
                   -webkit-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   -moz-box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
                   box-shadow: 4px 3px 5px #bababa, inset 0px 0px 1px #ffffff;
               }