<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Task 4</title>
  </head>
  <body>
    <img src="../images/money-bag.png" />
    <div id="usd"></div>
    <img src="../images/coins.png" />
    <div id="eur"></div>
    <script src="../javascripts/task4.js"></script>
  </body>
</html>
