<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css"/>
    <title>Task 3</title>
  </head>
  <body>
    <label for="rows">Number of bottles:</label>
    <input
        type="number"
        id="count"
        name="count"
        class="form-control"
        min="0"
        value="50"
    />
    </div>
    <button id="start">Play</button>
    <hr/>
    <div id="bottles" ></div>
    <script src="../javascripts/task3.js"></script>
  </body>
</html>
