.mainnav {
    align-items: center;
    position: relative;
    display: flex;
    grid-row: 1;
    grid-column: 1 / 13;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    &__link {
        text-decoration: none;
        font-family: $font-ptsans;
        font-size: 18px;
        line-height: 30px;
        color: black;
        margin: 0 9px;
    }
    &__icon {
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    @media (max-width: 980px) {
        .mainnav {
            &__link {
                font-size: 14px;
                margin-right: 5px;
            }
        }
    }
}